﻿@using WebApplication.Controllers
@using WebApplication.ResponseModel
@using WebApplication.Services
@model IEnumerable<WebApplication.ResponseModel.FileDataDownloadResponseModel>

@{
    ViewBag.Title = "GetAllAssignedFileData";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/GetAllAssignedFileData.css")
    
    HomeService homeService = new HomeService();
}

@if (Model != null && Model.GetEnumerator().MoveNext())
{
    
    var id = 0;
        foreach (var item in Model)
        {
            id++;
            <div class="files">
                
                
                <div class="left">
                    @switch (@item.FileType)
                    {
                        case FileType.Image:
                            <img alt="Embedded Image" class="file-icon" src="data:image;base64,@Convert.ToBase64String(item.File)"/>
                            break;
                        default:
                            <img alt="Embedded Image" class="file-icon" src="data:image;base64,@homeService.GetGenericIconByFileType(@item.FileType)"/>
                            break;
                    }
                    <div class="options">
                        <div class="btn1" id="@id">Show Secret</div>
                        @Html.ActionLink(".", "DownloadFileData", "Home", new {fileId = item.Id, fileName = item.FileName}, new {@class = "download", name = "download"})
                        @Html.ActionLink("Delete", "DeleteFileData", "Home", new {fileId = item.Id, fileName = item.FileName}, new {@class = "delete", name = "delete"})

                    </div>
                </div>

                <div class="right">

                    <p id="text @id" class="txt1">@item.SecretMessage <br> @item.SharingUser</p>

                </div>
            </div>
        }
  
}
else
{
    <h1>You have no files shared</h1>
}
    