@using WebApplication.Controllers
@using WebApplication.Services
@model WebApplication.RequestModel.FileDataUploadRequestModel

@functions 
{
    private IEnumerable<SelectListItem> GetAllUsers()
    {
        return HomeService.GetAllUsers();
    }
}

@{
    ViewBag.Title = "UploadFileData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@using (Html.BeginForm("UploadFileData","Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    //@Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" class="form-control" name="file" accept="image/*" required/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecretMessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecretMessage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecretMessage, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
                    @Html.LabelFor(model => model.EncryptionMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButtonFor(model => model.EncryptionMethod, "Aes")
                        @Html.LabelFor(model => model.EncryptionMethod, "AES")
                        <br>
                        @Html.RadioButtonFor(model => model.EncryptionMethod, "Tbd")
                        @Html.LabelFor(model => model.EncryptionMethod, "TBD")
                    </div>
                    
                </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.HidingMethod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.HidingMethod, "Lsb")
                @Html.LabelFor(model => model.HidingMethod, "Lsb")
                <br>
                @Html.RadioButtonFor(model => model.HidingMethod, "MetaData")
                @Html.LabelFor(model => model.HidingMethod, "MetaData")
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PermittedUsers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PermittedUsers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DropDownListFor(model => model.PermittedUsers, GetAllUsers(), "Choose...", new { @class = "form-control", } )
                @Html.ValidationMessageFor(model => model.PermittedUsers, "", new { @class = "text-danger" })
            </div>
        </div>
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}