@using WebApplication.Controllers
@using WebApplication.Services
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @* @Styles.Render("~/Content/css") *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Chewy" />
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/menu.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-nav">
        <div class="navbar-header">
            @* <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> *@
            @*     <span class="icon-bar"></span> *@
            @*     <span class="icon-bar"></span> *@
            @*     <span class="icon-bar"></span> *@
            @* </button> *@
            <input type="checkbox" class="toggler">
            <div class="Hamburger"><div></div></div>
            <div class="menu">
                <div>
                    <div>
                        <ul class="nav-navbar-nav">
                            @* <li> @Html.ActionLink("Steganography", "UploadFileData", "Home", new {area = ""}, new {@class = "navbar-brand"}) *@
                            @* </li> *@
                            <li>@Html.ActionLink("Home", "UploadFileData", "Home")</li>
                            <li>@Html.ActionLink("My Files", "DownloadFileData", "Home")</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Sign Up", "SignUp", "Account")</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @* @Html.ActionLink("Steganography", "UploadFileData", "Home", new {area = ""}, new {@class = "navbar-brand"}) *@
        </div>
        @*         <div class="navbar-collapse-collapse"> *@
        @*             <ul class="nav-navbar-nav"> *@
        @*                 <li>@Html.ActionLink("Home", "UploadFileData", "Home")</li> *@
        @*                 <li>@Html.ActionLink("My Files", "DownloadFileData", "Home")</li> *@
        @*                 @if (Request.IsAuthenticated) *@
        @*                 { *@
        @*                     <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li> *@
        @*                 } *@
        @*                 else *@
        @*                 { *@
        @*                     <li>@Html.ActionLink("Sign Up", "SignUp", "Account")</li> *@
        @*                 } *@
        @*             </ul> *@
        @*         </div> *@
    </div>
            <div class="logo2">
                @* <img src="C:\Users\Avi\RiderProjects\Steganography5\WebApplication\Content\pexels-alex-andrews-861443.jpg" alt="logo" width="300" height="300"> *@
                <img class="img-logo" id="img_logo" alt="Logo" src="@Url.Content("~/Content/images/Capture122.png")" />
                <style>
                    .logo2 {
                        background-color: #f0f7f8;
                        justify-self: center;
                        justify-items: center;
                        justify-content: center;
                        
                    }
                    .img-logo {
                        width: 30%;
                        height: 30%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        padding-top: 0em;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                </style>
            </div>
</div>
<div class="showcase">
    <div class="container-body body-content footer-rights">
        @RenderBody()
        
        
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/SignUPIN.js")
@Scripts.Render("~/Scripts/uploadFile.js")
@Scripts.Render("~/Scripts/GetAllAssignedFileData.js")
@RenderSection("scripts", required: false)
</body>
</html>