@model WebApplication.RequestModel.ChangePasswordRequest

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/ChangePassword.css")
}
<div class="containerC" id="containerC">
    @using (Html.BeginForm("ChangePasswordImpl","Account", FormMethod.Post))
    {
        <div class="temp">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-container change-password-container">
            <div class="temp2">
            <h1 class="headline">Change Password</h1>
            <div class="sec">

                <span class="infoMassage">Please enter your old password</span>
                @Html.EditorFor(model => model.OldPassword, new {htmlAttributes = new {@class = "form-control", type = "password", placeHolder = "Old Password"}})
                @Html.ValidationMessageFor(model => model.OldPassword, "", new {@class = "text-danger"})
            </div>
            <div class="sec">
                <span class="infoMassage">Please enter your new password</span>
                @Html.EditorFor(model => model.NewPassword, new {htmlAttributes = new {@class = "form-control", type = "password", placeHolder = "New Password"}})
                @Html.ValidationMessageFor(model => model.NewPassword, "", new {@class = "text-danger"})
            </div>

                <button class="change-password-btn"><input type="submit" value="Change" class="change-password-btn2"/>Change Password</button>
                </div>
        </div>
        </div>
    }
</div>
<style>
    .change-password-container{
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }
</style>